<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body ng-app="theShop" ng-controller="MainCtrl">
    <div id="header">
        <div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><h1>SHOP</h1></div>
                <div class="col"><h3>
                    <a ui-sref="home"><span class="glyphicon glyphicon-home"/></a>
                    <a ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"/></a>
                    <span ng-controller="CartCtrl"><h5>{{ cost | currency }}</h5></span>
                </h3></div>
            </div>
        </div>
    </div>

    <div id="nav" ng-controller="NavCtrl">
        <input placeholder="Search..." ng-model="query">
        <p ng-repeat="product in products.products | filter:{name:query}">
            <a ui-sref="products({productID: product._id})">
                {{product.name}}
            </a>
        </p>
    </div>

    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
        <div class="section">
            <h1>Welcome to our shop!</h1>
        </div>
    </script>

    <script type="text/ng-template" id="/cart.html">
        <div class="section" ng-controller="CartCtrl">
            <h1>CART</h1>
            <h3>Total cost: {{ cost | currency }}</h3>
            <table class="table">
                <tr>
                    <td>Product name</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Edit</td>
                </tr>
                <tr ng-repeat="item in choices">
                    <td>{{item[0].name}}</td>
                    <td>{{item[0].price | currency}}</td>
                    <td>{{item[1]}}</td>
                    <td>
                        <button ng-click="addItem(item)"><span class="glyphicon glyphicon-plus"/></button>
                        <button ng-click="removeItem(item)"><span class="glyphicon glyphicon-minus"/></button>
                        <button ng-click="removeAllItems(item)"><span class="glyphicon glyphicon-remove"/></button>
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/ng-template" id="products.html">
        <div class="section">
            <div class="row">
                <div class="col"><h3>{{ product.name }}</h3></div>
                <div class="col">
                    <h3>Price: {{ product.price | currency }}</h3>
                    <button ng-click="addToCart()"><span class="glyphicon glyphicon-plus"/></button>
                </div>
            </div>
            <p>{{ product.description }}</p>
            <img src="{{ product.picture }}" width="550">
        </div>
    </script>

</body>

</html>