<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/cartController.js"></script>
    <script src="/javascripts/controllers/mainController.js"></script>
    <script src="/javascripts/controllers/navController.js"></script>
    <script src="/javascripts/controllers/productsController.js"></script>
    <script src="/javascripts/factories/cartManager.js"></script>
    <script src="/javascripts/factories/productsFactory.js"></script>
    <script src="/javascripts/factories/tagsManager.js"></script>
    <script src="/javascripts/config/routes.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body ng-app="theShop" ng-controller="MainCtrl">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="no-highlight">Angular Shop</div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home"><span class="glyphicon glyphicon-home"/></a>
                </li>
                <li>
                    <a ui-sref="cart"><span class="glyphicon glyphicon-shopping-cart"/></a>
                </li>
            </ul>
            <div class="money" ng-controller="CartCtrl">{{ cost | currency }}</div>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a class="nav navbar-nav pull-right" data-toggle="modal" data-target="#userModal">
                        <span class="glyphicon glyphicon-user"/>
                    </a>
                </li>
            </ul>
            <div class="pull-right no-highlight">Nicolas Cage</div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div>
    <div class="modal fade" id="userModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center>
                        <h4 class="modal-title">User info</h4>
                    </center>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-responsive" src="http://nicolascageplotgenerator.weebly.com/uploads/2/5/5/6/25564387/262259_orig.gif" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Name: Nicolas Cage</p>
                            <p>Email: nick.cage@gmail.com</p>
                            <p>Delivery address: Hollywood</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3" ng-controller="NavCtrl">
            <input class="form-control" placeholder="Search..." ng-model="query">
            <div>
                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">Tags</button>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <center>
                                    <h4 class="modal-title">Search by tags</h4>
                                </center>
                            </div>
                            <div class="modal-body">
                                <ng-form name="tagChoices">
                                    <ul class="without-dots">
                                        <li ng-repeat="tag in tags">
                                            <div>
                                                <input type="checkbox" ng-model="confirmed" ng-change="change(tag)" >{{ tag }}
                                            </div>
                                        </li>
                                    </ul>
                                </ng-form>
                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bootstrap-tagsinput">
                <ul class="dashed-list">
                    <li ng-repeat="tag in selectedTags">
                        <span class="tag label label-info search-tags">
                            <span data-role="remove">{{ tag }}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="list-group scroll-list">
                <a ui-sref="products({productID: product._id})"
                   class="list-group-item" ng-repeat="product in products.products | filter:{name:query} | filter:criteriaMatch()">
                    {{product.name}}
                </a>
            </div>
        </div>

        <ui-view></ui-view>

        <script type="text/ng-template" id="/home.html">
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://i.imgur.com/f7R1ZH3.jpg" alt="">
                    <div class="caption-full">
                        <center>
                            <h1>
                                Welcome to our shop!
                            </h1>
                        </center>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="/cart.html">
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://d19lgisewk9l6l.cloudfront.net/wexas/www/images/web/north-america/canada/alberta-the-rocky-mountains/alberta-the-rocky-mountains.jpg" alt="">
                    <div class="caption-full">
                        <div class="section" ng-controller="CartCtrl" >
                            <h1>CART</h1>
                            <div ng-hide="choices.length">
                                Your cart is empty
                            </div>
                            <div ng-show="choices.length">
                                <h3>Total cost: {{ cost | currency }}</h3>
                                <table class="table">
                                    <tr>
                                        <td>Product name</td>
                                        <td>Price</td>
                                        <td>Quantity</td>
                                        <td>Edit</td>
                                    </tr>
                                    <tr ng-repeat="item in choices">
                                        <td>{{item[0].name}}</td>
                                        <td>{{item[0].price | currency}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>
                                            <button ng-click="addItem(item)"><span class="glyphicon glyphicon-plus"/></button>
                                            <button ng-click="removeItem(item)"><span class="glyphicon glyphicon-minus"/></button>
                                            <button ng-click="removeAllItems(item)"><span class="glyphicon glyphicon-remove"/></button>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal"
                                            data-target="#buyModal">Buy</button>
                                    <div class="modal fade" id="buyModal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <center>
                                                        <h4 class="modal-title">Order has been sent</h4>
                                                    </center>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="thumbnail">
                                                        <img class="img-responsive" src="http://www.argyleink.com/babyanimals/wp-content/uploads/2014/01/Happy_little_duckling.jpeg" alt="">
                                                        <div class="caption-full">
                                                            <center>
                                                                <h1>
                                                                    Thank you for making an order!
                                                                </h1>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <center>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="products.html">
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ product.picture }}" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">
                            <button ng-click="addToCart()"><span class="glyphicon glyphicon-plus"/></button>
                            {{ product.price | currency }}
                        </h4>
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </script>

    </div>
</div>
<!-- /.container -->

</body>
</html>