body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    width: 190px;
    line-height:30px;
    background-color:#eeeeee;
    float:left;
    padding:5px;
}
.section {
    width:600px;
    float:left;
    padding:10px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */
    padding: 10px;
}

.glyphicon:hover {
    color: #99CCFF;
}

.tags-box {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    border-radius: 6px;
}

.tags-btn {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tags-list {
    height : 600px;
    overflow : auto;
}

ul {
    list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

